.painel-padronizacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.btn-painel-padronizacao{
    border: none;
    background: transparent;
    width: 185px;
    height: 153px;
    background-size: cover;
    color: transparent;
}

.btn-consistencia{
    background: url('../imgs/btns/bt01pasta.png');
}

.btn-conformidade{
    background: url('../imgs/btns/bt02pasta.png');
}

.btn-treinamento{
    background: url('../imgs/btns/bt03pasta.png');
}

.btn-melhoria{
    background: url('../imgs/btns/bt04pasta.png');
}

.btn-painel-padronizacao:hover{
    transform: scale(1.1);
    transition:  transform 0.5s ease;
}

