.painelHierarquiaDocumentacao{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    align-items: center;
}

.btn-painelHierarquia{
    border: none;
    background: transparent;
    color: transparent;
    width: fit-content;
    padding: 0;
}

.titulo-botao-painel02{
    display: none;
}

.btn-painelHierarquia:hover{
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 1.9));
}


@media only screen and (max-width:510px) {

    .bt-manuais{
        width: 88%;
    }
    
    .bt-procedimentos{
        width: 88%;
    }

    .bt-instrucoes{
        width:88%;
    }
    
    .bt-registros{
        width: 88%;
    }

    .bt-documentos{
        width: 100%;
    }
}

@media only screen and (max-width:460px) {

    .bt-manuais{
        width: 73%;
    }
    
    .bt-procedimentos{
        width: 73%;
    }

    .bt-instrucoes{
        width:73%;
    }
    
   
}

@media only screen and (max-width:400px) {

    .bt-manuais{
        width: 63%;
    }
    
    .bt-procedimentos{
        width: 63%;
    }

   
    
   
}