.painel-beneficios-documentacao{
    position: relative;
    width: 80%;
    height: 692px;
    background: url('../img/painel01/painel_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}
.tab-content{margin-bottom: 50px;}

.btn-painel-beneficios-documentacao{
    width: 120px;
    height: 120px;
    color: blue;
    margin: 25px;
    border: none;
}

.btn-painel-beneficios-documentacao:hover{
    transform: scale(1.1);
}

.btn-clareza{
    background: url('../img/painel01/bt01.png');
}

.btn-transferencia-conhecimento{
    background: url('../img/painel01/bt02.png');
}

.btn-eficiencia-produtividade{
    background: url('../img/painel01/bt03.png');
}

.btn-padronizacao-qualidade{
    background: url('../img/painel01/bt04.png');
}

.btn-reducao-riscos{
    background: url('../img/painel01/bt05.png');
}

.btn-facilitacao-auditoria {
    background: url(../img/painel01/bt06.png) no-repeat;
    height: 183px;
    background-size: contain !important;
}                

.btn-melhoria-continua{
    background: url('../img/painel01/bt07.png');
}  

.btn-facilitacao-comunicacao{
    background: url('../img/painel01/bt08.png');
}

.btn-painel-beneficios-documentacao{
    background-size: cover;
}

#myTabContent{
    width: 323px;
    margin: auto;
}

@media only screen and (max-width:800px) {

    .painel-beneficios-documentacao{    
        background: unset;
        padding: 0;
    }

    .btn-painel-beneficios-documentacao{
        margin: 10px;
    }
}

@media only screen and (max-width:420px) {

    .painel-beneficios-documentacao{    
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: 1200px;
    }

    .btn-painel-beneficios-documentacao{
       width: 120px;
       height: 120px;
    }

}
