
body{
    background: url('../img/bg.png') fixed ;
}

#booklet{
    background: url('../img/asset.png') left top;
    background-size: 20% !important;
    background-repeat: no-repeat;
}

.btn-documento {
    width: fit-content;
    margin: auto;
    cursor: pointer;
    margin-bottom: 2rem;
}

.espera-video{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30vh;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}


@media only screen and (max-width:1200px) {

    #booklet{
        background: unset ;
    }

}